@CHARSET "utf-8";
.finish_header
{
    background:url('/img/FinishHeader.png') no-repeat;
    width:390px;
    height:149px;
    display:block;
    margin:2em auto;    
}
.finish_icon_gray{
	background:url('/img/finishGrayIcons.png') no-repeat;
    display:inline-block;
}
.finish_icon_black{
	background:url('/img/finishIconsBlack.png') no-repeat;
    display:inline-block;
}
.finish_info_item
{
	margin-right:6em;
	width:570px;
    line-height:18px;
	height:auto;
	margin-bottom:1em;
}
.finish_left_item
{
	margin-right:0.5em;
	width:95%;
    line-height:18px;
	height:auto;
	margin-bottom:1em;
}
.finish_info_item .finish_icon_gray
{
	margin-left:5px;
}

.finish_item_text{
	width:515px;
    vertical-align:top;
    text-align:justify;
    display:inline-block;
}
.finish_left_item_text{
	width:180px;
    vertical-align:top;
    text-align:justify;
    display:inline-block;
}
.finishButton{
	cursor: pointer; background:url('/img/finishButton.png') no-repeat; width:188px; border:0; outline:0; height:44px; display:block; margin:1em auto;
    background-position:0px 0px;
	
}
.finishButton:hover{
	background-position:0px -118px;
}
.finishButton:active{
	background-position:0px -59px;
}