@CHARSET "utf-8";
#container{
	top:8em !important;
}
.intro_image_961 {
	width: 961px;
	height: 769px;
	background: url('./img/intro_900.png') no-repeat;
	position: fixed;
	left: 0;
	top:8em;
}

.intro_image_750 {
	width: 750px;
	height: 600px;
	background: url('./img/intro_750.png') no-repeat;
	position: fixed;
	left: 0;
	top:8em;
}

.intro_image_500 {
	width: 500px;
	height: 400px;
	background: url('./img/intro_500.png') no-repeat;
	position: fixed;
	left: 0;
	top:8em;
}

.intro_text {
	width: 475px;
	height: 635px;
	background: url('./img/intro_new.png') no-repeat;
	position: relative;
	float: right;
	right: 2em;
}

.intro_button {
	background: url('/img/startButton.png') no-repeat;
	background-position: 0 0;
	position: absolute;
	top: 29.5em;
	right: 0px;
	width: 165px;
	height: 44px;
	cursor: pointer;
}

.intro_button:hover {
	background: url('/img/startButton.png') no-repeat;
	background-position: 0 -54px;
}

.whiteline{
	background: url('/img/whiteline.png');
	height: 1px;
	position: absolute;
	width: 473px;
	opacity: 0.9;
}

.fb-share{
	opacity: 0.7; position: absolute; top: 36em; left: 9.2em; background: white; border: 2px solid #8DA1CA; border-radius: 8px; padding: 4px; width: 350px; height: 24px;
}

.index-login-box{
	width:250px;
	padding:5px;
	font-size:13px;
	position:fixed;
	top:1.5em;
	left:1.5em;
	background:#FFF;
	border:2px solid #679BAC;
	border-radius:5px;
}

.how-it-works-link{
	font-family:duckasmedium, Arial;
    position: absolute; 
    top: 23em; 
    font-size: 16px;
    cursor:pointer;
    color: #fff; 
    right: 190px; 
    line-height: 16px; 
    text-shadow: 1px 1px 1px rgb(82,82,82);
}

.intro_note{
	position: absolute;
	top: 31.5em;
	width: 330px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}
.intro_note div{
	margin-top: 3px;
	background: url('/img/greenvi.png') no-repeat;
	background-position: 306px 0px;
	padding-right: 32px;
}

.ds-index-title{
	font-family: duckasmedium, Arial;
	font-size: 49px;
	color: #fff;
	position: absolute;
	top: 2.3em;
	line-height:58px;
}

.ds-index-subtitle
{
	font-family: arial;
	font-size: 16px;
	color: #fff;
	position: absolute;
	top: 18em;
}

.coupon84 .redpromotion {
    width: 205px;
    height: 277px;
    position: absolute;
    top: 34.9em;
    left: 1em;
    background: url('/img/coupon84.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.coupon84 .sticker {
    width: 100px;
    height: 55px;
    position: absolute;
    top: 33em;
    left: 0em;
    background: url('/img/coupon84weekonly.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}