@font-face {
	font-family: 'DuckasMedium';
	src: url('/css/duckas/duckasmediumwebfont.eot');
	src: url('/css/duckas/duckasmediumwebfont.eot?#iefix') format('embedded-opentype'),
	url('/css/duckas/duckasmediumwebfont.woff') format('woff'),
	url('/css/duckas/duckasmediumwebfont.ttf') format('truetype'),
	url('/css/duckas/duckasmediumwebfont.svg#DuckasMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (max-width: 1024px){
    /* iPad Landscape */
    #footer_right{ width:225px !important; }
    #copyright { width:335px !important; float:right !important; }
}

html {
	direction:rtl;
	height:100%;
	overflow-x:hidden;
	font-family:Arial, Monospace;
}

/* Reset some css values */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	line-height:1.5;
	height:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}

ol, ul {
	list-style: none;
}

input[type=radio]{
	border:0;
	outline:0;
	vertical-align:middle;
	font-size:8px;
}
input[type=submit], button{
	cursor:pointer;
}

/* remember to define focus styles! */
:focus {
	outline:0;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse:collapse;
	border-spacing:0;
}
h2 {
	display:inline;
	font-size:15px;
}
h3{
	display:inline;
	font-size:17px;
	font-weight:bold;
}
/* Fonts */
body, input, select, textarea, strong {
	font-family:Arial, Monospace, Georgia, serif;
	font-size:12px;
	color:#000000;
}
/* Structure */
body {
	width:100%; 
	/*background:url('../img/background1920_1080.jpg') repeat-x fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */

}
#overlay { 
	position:fixed;
	top:0;
	width:100%;
	min-height:100%;
	
	background:url('/img/backpattern.png') repeat fixed;
	background-position: 0 0;

	z-index:0;
	margin:0;
	padding:0px;
}
#container {
	display:none;
	position:relative;
	width:980px;
	height:auto !important;
	min-height:200px;

	margin:0 auto;
	top:11em;
	padding:0; 
	overflow:hidden;
}

.dsbox{
	display:block;
	position:relative;
	border:1px solid gray;
	min-height:300px;
	height:auto;
	margin:0 auto;
	background:#fdfdfd;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3), inset 0 1px 0 #fff;
	overflow:hidden;
	margin-bottom:6em;
}
	.dsbox_right{
		float:right;	background-color:#f7f7f7;
		height:auto;
		border-left: 1px solid #ededed;
		margin: 0 2px 0 0;
		overflow:hidden;
	}
	.dsbox_left{
		background-color:#fdfdfd;
		float: left;
		padding: 27px 27px 0 27px;
		margin:0 0 0 2px;
		overflow:hidden;
	}



	#buttondiv {
		text-align:center;
		height:50px;
		display:block;
		position:relative;
		top:520px;
		margin:0 auto;
	}
.errorBar {
	z-index:1000; 
	display:none;
	position:fixed;
	top:0px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	width:100%;
	line-height:55px;
	background:url('/img/errorbar.gif') repeat-x;
}

.errorBar .error-bar-text{
    text-shadow:1px 1px 1px gray;
}

#header_menu{
	display:block;
	position:fixed;
	top:0;
	width:100%;
	opacity:0.7;
	background:#000;
	height:3.5em;
	line-height:3.5em;
    z-index:10;
}

#header_menu .user-login-status{
    width:940px; margin:0 auto;
    position:relative;
    display:block;
}
#header_menu .user-login-status-text{
    display:inline-block;
    position:absolute;
    left:0;top:0;
    font-weight:bold; color:#fff; font-size:13px; text-shadow:1px 1px 1px gray;
}

.header-logo{
	background: url('/img/mail_logo_small.png?v=2') 0 0 no-repeat;
	width: 49px;
	height: 33px;
	display: inline-block;
	position: absolute;
	top: 4px;
	right: 48%;
	opacity: 0.7;
}

#footer_menu{
	background:url('../img/overlay.png') repeat;
	width:100%;
	position:fixed;
	bottom:0;
	line-height:30px;
	height:30px;
	margin:0;
	padding:0;
}

a:active, a:link, a:visited {
		text-decoration:none;
}

#content {
	min-height:400px;
	padding:18px;
	padding-top:15px;
	margin:0 auto;
	background:#d3d3d3;
	background:rgba(255,255,255,0.8);
	width:922px;
}

/* Contact form */
#contact_info {
		margin-bottom:20px;
}

label {
	display:inline;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:6px;
	color:#666666;
	width:260px;
}

#freetext {
	width:360px;
	height:150px;
	resize:none;
	display:block;
}

input, textarea {
	color:#6e6e6e;
	border:solid 1px #dfe0e2;
}

textarea, input[type=text], input[type=password] {
	background:#f6f8fb;
	margin-bottom:10px;
	font-size:12px;
	padding:4px;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	border-radius: 3px;
	
	display:block;
	height:22px;
	width:250px;
}

select {
	height:24px;
	width:250px;
	border:1px solid #dfe0e2;
	padding:1px;
	font-size:12px;
	margin-bottom:10px;
	background:#f6f8fb;
	color:#6e6e6e;
}

textarea:focus, input:focus, select:focus {
	background:#fafafa;
}
::-webkit-input-placeholder {
	color:#999;
}
:-ms-input-placeholder {
	color:#999;
}
:-moz-placeholder {
	color:		#999;
}
textarea {
	overflow:auto;
}

.hilight { 
	border:solid 1px #f49d9f;
	box-shadow:  0 0 2px 1px rgba(209, 167, 167, 0.7) !important;
	-webkit-box-shadow:  0 0 2px 1px rgba(209, 167, 167, 0.7) !important;
}
.hilight:focus {
	background:#fee4e4;
}

#closeerror_btn:hover {
	cursor:pointer;
}

#contactf input[type='text']{
	display:block;
	line-height:33px;
	height:33px;
	width:250px;
	border-radius:3px;
	background:#FFF;
	outline:0;
}

.ltr-field:active{
	direction:ltr;
	text-align:left;
}

.btn{cursor:pointer;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	padding:10px 20px;
	color:#666;
	font-size:13px;
	line-height:normal;
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.4);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.4);
	box-shadow:0 1px 3px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.4);
	font:normal 500 13px / 13px museo,helvetica,arial, Monospace, san-serif;
	line-height:13px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-clip:padding-box;
	background-color:#f2f2f2;
	background-repeat:repeat-x;

}
.btn:hover{
	color:#333;
	text-decoration:none;
}
.btn:focus{
	outline:1px dotted #666;
}
.btn:visited{
	color:#808080;
}
.btn:active{
	padding-bottom:10px;
}
.btn.orange{
	font-weight:bold; 
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	border:1px solid #fb7502;
	border-bottom:3px solid #c85d02;
	background-color:#fb9f11;
	background-repeat:repeat-x;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.4),0px 0 0 rgba(255,255,255,0);

}
	
.btn.orange:hover{
	background-color:#fba92a;
	background-repeat:repeat-x;
 }
		
.btn.orange:active{
	background-color:#fb9f11;
	background-repeat:repeat-x;
	border:1px solid #cd6002;
	border-bottom:3px solid #e26902
 }
		 
.btn.green{
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	border:1px solid #638f24;
	border-bottom:1px solid #557b1f;
	background-color:#7fb82e;
	background-repeat:repeat-x;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.4),0px 0 0 rgba(255,255,255,0)
}
.btn.green:hover{
	background-color:#87c431;
	background-repeat:repeat-x;
	color:#fff;
}
.btn.green:active{
	background-color:#557b1f;
	background-repeat:repeat-x;
}



.greentext{
	color:green;
}
.redtext{
	color:red;
}

.steps {
	display:block; 
	position:relative; 
	margin:0 auto; 
	width:520px; 
	height:80px; 
	background:url('../img/steps.png') no-repeat;
}
.dsline{
	display:inline-block;
	margin:0.2em 10px 0.2em 0;
	width:calc(100% - 15px);
	width:-webkit-calc(100% - 15px);
}
.asterisk {
	color:red;
	font-size:15px;
	font-weight:bold;
}
.dstitle {
	display:block;
	font-size:15px;
	line-height:36px; 
	color:#000;
	font-weight:bold; 
	margin-bottom:1em;
	width:440px;
	border-bottom:dashed 1px lightgray;
}
.dslabel{
	margin:0;
	padding:0;
	display:inline-block;
	float:right;
	width:200px;
	line-height:26px;
}
.dsfield{
	float:left;

}
.dsfield input[type=text] {
	height:20px;
	margin:0;
	padding:5px;
	width:220px;
	background:#FFF;

}
.dsfield select{
	line-height:20px;
	width:230px;
	background:#FFF;
}
.dsfield option{
	padding:4px;
}
.line {
	width:100%;
}
.placeholder {
	color: #aaa; 
}
.smallbtn{
    border:1px solid #808080; 
    border-radius:3px; 
    width:100px; 
    padding:4px; 
    background:white; 
    float:left; 
    margin-left:1em; 
    margin-bottom:1em;
    cursor:pointer;
    text-align:center;
}
.dsbox .smallbtn:focus, .dsbox .smallbtn:active{
    border:1px solid #808080;
}
.wider .dslabel{
	width:340px;
}
.wider .dsfield {
	width:110px;
}



#register_form input{
	height:34px;
	font-size:12px;
	background:#FFF;
}

#register_form label{
	font-size:15px;
	color:#000;
}

.rgs_field{
	float:right;
	display:inline-block;
	width:280px;
	line-height:35px;
	
}
.rgs_field input {
	line-height:35px;
}

.payment_field{
	display:block;
}
.payment_field label {
	color:#000;
}
.payment_field select {
	display:block;
}
.rgs_field_set{
	display:block;
	border-bottom:1px solid lightgray;
}
.ds_button_next{
	border:0;
	outline:0;
	background:url('/img/dsbuttons.png') no-repeat; 
	width:140px; 
	height:51px;
	position:absolute;
	bottom:1em;
	left:1em;
}
.ds_button_next:hover{
	outline:0;

	background:url('/img/dsbuttons.png') no-repeat;
	background-position: 0 -122px;
}

.ds_button_next:active {
	outline:0;
	background:url('/img/dsbuttons.png') no-repeat;
	background-position: 0 -61px;
}

.ds_button_previous{
	border:0; 
	outline:0;
	background:url('/img/dsbuttons.png') no-repeat;
	background-position: 0 -183px;
	width:140px; 
	height:51px; 
	cursor:pointer;
	position:absolute;
	bottom:1em;
	right:1em;
}
.ds_button_previous:hover{
	outline:0;
	background:url('/img/dsbuttons.png') no-repeat;
	background-position: 0 -305px;
}

.ds_button_previous:active {
	outline:0;
	background:url('/img/dsbuttons.png') no-repeat;
	background-position: 0 -244px;
}


#payment input{
	width:120px;
	color:#000;
	background:#fff;
	border-color:#cdcdcd;
	height:22px;
}
#payment select{
	color:#000;
	background:#fff;
	border-color:#cdcdcd;
}

#tooltipoverlay{
	position:fixed; 
	background-color:#000000; 
	height: 100%; 
	display:none; 
	top: 0;
	left: 0;
	width: 100%; 
	z-index: 1100;
	cursor:auto;
}

#Tooltip{
	display:none;
	position:absolute;
	height:auto;
	z-index:1200;
	background:transparent;
	width:95%; 
	height:auto;
}
.tooltip_close{
	position: absolute;
	top: 13px;
	right: 7px;
	width: 18px;
	height: 12px;
	background:url('/img/icons.png') no-repeat;
	background-position: 0 -14px;
	cursor: pointer;
	z-index: 1220;
	display: none;
}

button{
	cursor:pointer;
	width: auto;
  	overflow: visible;
}

#connect{
	border:0; 
	outline:0; 
	width:110px; 
	height:40px; 
	background:url('/img/connectButtons.png') no-repeat;
	background-position: 0 0;
}
#connect:active {
	outline:0; 
	background:url('/img/connectButtons.png') no-repeat;
	background-position: 0 -50px;
}
#connect:hover{
	outline:0; 
	background:url('/img/connectButtons.png') no-repeat;
	background-position: 0 -100px;
}


#remind{
	border:0; 
	outline:0; 
	width:110px; 
	height:40px; 
	background:url('/img/connectButtons.png') no-repeat;
	background-position: 0 -150px;
}
#remind:active {
	outline:0; 
	background:url('/img/connectButtons.png') no-repeat;
	background-position: 0 -200px;
}
#remind:hover{
	outline:0; 
	background:url('/img/connectButtons.png') no-repeat;
	background-position: 0 -250px;
}


.main-login-button{
	font-family:arial, Monospace;
	border:1px solid white; 
	position:fixed; 
	left:1em; 
	top:1em; 
	display:block; 
	border-radius:6px; 
	padding:6px; 
	width:80px; 
	font-weight:bold;
	font-size:15px; 
	z-index:500;
	-moz-box-shadow:2px 2px 6px #5C5C5C;
	box-shadow:2px 2px 6px #5C5C5C;
	-webkit-box-shadow:2px 2px 6px #5C5C5C;
	background:#ffffff;
}
.main-login-button:hover{
	background:#dfe9ef;
}



.progressBar{
	background:url('/img/steps.png') no-repeat;
	width:800px;
	height:38px;
	margin:0 auto;
}
.step1{
	background-position:0 0;
}
.step2{
	background-position: 0 -48px;
}
.step3{
	background-position: 0 -96px;
}
.step4{
	background-position: 0 -144px;
}
.step5{
	background-position: 0 -192px;
}
.step6{
	background-position: 0 -240px;
}

.errorClose{
	display:inline-block; width:32px; height:29px; vertical-align:middle; background: url('/img/icons.png') no-repeat; background-position: 0 -85px; border:0; outline:0; cursor:pointer;
}

#loading{position:absolute; top:45%; right:40%; width:250px; margin:0 auto; padding:25px; z-index:150; background:#FFF; border-radius:5px; border:1px solid lightgray;}


input:focus, select:focus, textarea:focus
{
  border:1px solid #fafafa;
  -webkit-box-shadow:0 0 6px #007eff !important;
  -moz-box-shadow:0 0 5px #007eff !important;
  box-shadow:0 0 5px #007eff !important;
  outline: none;
}

.mail-address{
	color:#000;
	font-size:12px;
	text-decoration:underline !important;
	cursor:pointer;
}

.footer-warning{
	float:right;
	display:inline-block;
	width:25px;
	height:25px;
	vertical-align:middle !important;
	background:url('/img/FooterWarning.png') no-repeat;
	margin-left:6px;
	margin-top:2px;
}

/* Contact form */

.mask
{
    overflow: hidden;
}

.roundedCorners
{
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.contact-form{
	position:relative;
	display:block;
	background:#fff;
	width:920px;
	height:390px;
	padding:30px;
	margin:0 auto;
}
.contact-form .bigField{
	height:30px !important;
	line-height:30px !important;
	background:#FBFBFB !important;
	margin-bottom:1.8em !important;
	font-size:14px !important;
}
.contact-grayLine{
	position: absolute;
	bottom: 0;
	width: 100%;
	display: block;
	clear: both;
	background: lightgray;
	height: 70px;
	right: 0;
	border-radius: 0 0 5px 5px;
}
.contact-send{
	background:url('/img/csg-50f893bef3260.png') no-repeat;
	background-position: 0 0;
    width: 165px;
    height: 44px;
	border:0;
	outline:0;
	padding:0;
	margin:0;
	margin-right:2em;
	margin-top:1em;
}
.contact-send:hover{
	background-position: 0 -64px; width: 165px; height: 44px;
}
.contact-info{
	display:inline-block; text-align:justify; float:left; width:277px; text-align:justify; color:#5B5B5B !important; font-size:11px;
    margin-top:0.7em;
} 
.contact-info a{
	color:#5B5B5B !important;
}

#contactf .contact_message{
	width:610px; height:310px; background:#FBFBFB; font-size:14px; margin:0 auto; max-width:610px; max-height:310px; padding:5px;
}

.contact-form-right{
	float:right; display:inline-block; width:300px; height:auto;
}

.contact-form-left{
	float:left; display:inline-block; width:620px; height:auto;
}

.contact-form-right label{
	font-size:14px;
}

.contact-thanks{
	width: 90%;
	text-align:center;
  	 	margin: 0 auto;
   	display: none;
   	margin-top: 120px;
}

.contact-thanks .line1{
	font-size:55px;
}

.contact-thanks .line2{
	font-size:25px;
}

.contact-thanks .line3{
	font-size:13px;
	margin-top:1em;
}

.contact-answer{
	position: absolute;
	top: 3em;
	width:90%;
	text-align:center;
	font-size: 50px;
	display:none;
}
/* Contact form - end */

.footer-matan{
	font-size:11px;
	text-decoration:none;
	color:#FFF;
}
.returning-page{
	margin-top:2em;
}
.returning-page .dsbox_left .left-title{
	font-weight:bold;
	font-size:17px;
	margin-bottom:1em;
	margin-top:1em;
	color:#000;
}
.returning-page .dsbox_left .left-text{
	font-size:13px;
	text-align:justify;
	width:90%;
}
.GrayTitle{
	color:#949695 !important;
}
.returning-page .dsbox_right .continue-button{
	width:163px;
	height:42px;
	position:absolute;
	left:2em;
	bottom:2em;
	background:url('/img/continue.png') no-repeat;
	
}
.returning-page .dsbox_right .continue-button:active{
	color:#000 !important;
	border:1px solid #706a6c;
}
.returning-page .dsbox_left .bottom-image{

	width:300px;
	height:255px;
	background:url('/img/returningPassport.png') no-repeat;
	position:absolute;
	bottom:0;
	left:0;
}
.returning-page .dsbox_right{
	position:relative;
}
.returning-page .dsbox_right .right-title{
	font-weight:bold;
	font-size:17px;
}
.returning-page .dsbox_right .right-upper{
	width:300px;
	margin:0 auto;
	text-align:center;
	margin-top:1em;
}
.returning-page .dsbox_right .right-title-gray{
	font-size:13px;
	margin-bottom:1em;
}
.returning-page .dsbox_right .progressbox{
	width:90%;
	border-top:1px solid #d1d4cd;
	border-bottom:1px solid #d1d4cd;
	height:auto;
	margin:0 auto;
}
.returning-page .dsbox_right .progressbox .progress-line{
	width:100%;
	border-bottom:1px solid #e6e7d7;
	height:60px;
	position:relative;
	background:#ffffff;
}

.returning-page .dsbox_right .progressbox .progress-line:first-child{
	background:#f0f6e8;
}
.returning-page .dsbox_right .progressbox .progress-line:last-child{
	border-bottom:none;
}

.returning-page .dsbox_right .progressbox .progress-line .title{
	font-weight:bold;
	font-size:13px;
	position:absolute;
	top:1em;
	right:1em;
		
}

.returning-page .dsbox_right .progressbox .progress-line .description{
	font-size:12px; 
	color:gray;
	position:absolute;
	top:2.6em;
	right:1em;
}
.lightyellow{
	background:#fcfce2 !important;
	color:darkred;
}
.returning-page .dsbox_left{
	padding:0 !important;
}













/** How it works **/
.how-it-works{
	
	width:960px;
	background:#FFF;
	min-height:620px;
	margin:0 auto;
	height:500px;;
	padding:1em;
	
}
.how-it-works .header{
	padding-top:2em;
	width:100%;
	border-bottom:1px solid lightgray;
}


.how-it-works .header .title{
	background:url('/img/how_it_works_title.png') no-repeat;
	width:197px;
	height:40px;
	margin:0 auto;
}
.how-it-works .header .cubes{
	width:850px;
	height:200px;
	margin:1em auto;
}

.how-it-works .header .cubes .cube{
	width:250px;
	height:200px;
	background:url('/img/how_it_works_icons.png') no-repeat;
	float:right;
	position:relative;
	margin-right:2.5em;
}	

.how-it-works .header .cubes .cube .desc{
	width:90%;
	text-align:justify;
	position:absolute;
	top:100px;
}	

.how-it-works .header .cubes .cube1{
	margin-right:0 !important;
	background-position: 36px -12px;
	
}
.how-it-works .header .cubes .cube2{
		
	background-position:30px -240px;
	
}	

.how-it-works .header .cubes .cube3{
		
	background-position:36px -493px;
	
}	

.how-it-works .middle{
	position:relative;
	background:url('/img/how_it_works_shots.jpg') no-repeat;
	background-position:-3px 0px;
	width:100%;
	height:350px;
	border-bottom:1px solid lightgray;
}
.how-it-works .middle .middle-left{
	width:200px;
	height:330px;
	position:relative;
	right:1em;
	top:1em;
}
.how-it-works .middle .middle-left .title{
	background:url('/img/how_it_works_middle_title.jpg');
	width:153px;
	height:16px;
	position:absolute;
	right:4em;
	top:4em;
}
.how-it-works .middle .middle-left .note{
        background: url('/img/how_it_works_note.jpg');
        width: 276px;
        height: 150px;
        position: absolute;
        top: 8em;
        background-repeat: no-repeat;
        background-size: cover;
}
.how-it-works .bottom{
	position:relative;
	background:url('/img/how_it_works_footer.jpg') no-repeat;
	width:100%;
	height:388px;
}	
.how-it-works .bottom .text{
	text-align: justify;
	width: 503px;
	font-size: 13px;
	position: absolute;
	top: 10em;
	left: 2em;
}
.how-it-works .wrapper{
	height:620px;
	overflow-y:scroll;
	padding-right:5px;
}
.how-it-works .start{
	background: url('/img/startButton.png') no-repeat;
	background-position: 0 0;
	width: 165px;
	height: 44px;
	cursor: pointer;
}
.how-it-works .bottom .start {
	position: absolute;
	bottom: 2em !important;
	left: 2em !important;
}
.how-it-works .middle .start {
	position:absolute;
	bottom:1.2em;
	right:3em;
}

.note div {
    margin-right: 2em;
    margin-top: 6px;
    padding-right: 30px;
    font-size: 12px;
    background: url('/img/small_vi.png') 228px 0px no-repeat;
}
.note div:first-child {
    margin-top: 52px;
    margin-right: 2.5;
}

.pointer{
    cursor:pointer;
}

.separator-line
{
    width:95%; margin:0 auto; padding:1em; border-bottom:1px solid lightgray; clear:both;    
}

.takanon-red-text{
        display:none;
        color:red;
        font-size:13px;
        margin-left:5px; 
        font-weight:bold;
}

#agreeTerms{
    display:none;
    height:13px;
}

.agree-terms-line{
    text-align:left; margin-left:4px; display: block; clear: both; height: 18px; line-height: 20px; vertical-align: middle;
}

.checkboxLabel{
    width:16px;
    height:17px;
    background:url('/img/checkbox.png') no-repeat;
    background-position: 0 -28px;

    display:inline-block;
    padding:0 !important;
    margin:0 0 0 4px !important;
    cursor:pointer;

    position:relative;
    top: 3px;
} 
.check{
    background-position: 0 0;
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */

    .dsbox select{
        height:30px;
        -webkit-appearance:none;
        background: #f5f5f5; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NiUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #f5f5f5 38%, #e6e6e6 96%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,#f5f5f5), color-stop(96%,#e6e6e6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f5f5f5 38%,#e6e6e6 96%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f5f5f5 38%,#e6e6e6 96%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f5f5f5 38%,#e6e6e6 96%); /* IE10+ */
        background: url('/img/selectIcon.png') 2px 1px no-repeat, linear-gradient(to bottom,  #f5f5f5 38%,#e6e6e6 96%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */ 
        
        border:1px solid #bebebe;
    }
    
    .dsbox select, .dsbox select:focus{
        -webkit-box-shadow: 1px 1px 1px 0px #dfdfdf; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
        box-shadow: 1px 1px 1px 0px #dfdfdf; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    }
    
    .dsbox input[type=radio]{
        -webkit-appearance: none;
        background: url('/img/radioButtons.png') -26px 0 no-repeat;
        height: 22px;
        width: 17px;
        cursor:pointer;
    }
    
    .dsbox input[type=radio]:checked{
        background-position:0 0;
    }
    
    .dsbox input[type=text], .dsbox input[type=password], .dsbox input[type=phone]{
        box-shadow:inset -2px 2px 2px 0px #eeeeee;
        -webkit-box-shadow:inset -2px 2px 2px 0px #eeeeee;
    }
    
    .dsbox input[type=text]:focus, .dsbox input[type=password]:focus, .dsbox input[type=phone]:focus{
        border:1px solid #cccccc;
    }
    
    .dsbox .smallbtn{
        box-shadow:1px 1px 1px #c9c9c9;
        -webkit-box-shadow:1px 1px 1px #c9c9c9;
    }
 
}

.page-404{
	background:url("/img/background1920_1080.jpg") 0 0 no-repeat;
	background-size:cover;
}

.coupon84-terms {
    background:#FFF; width:800px; height:500px; padding:1em 1em; margin:0 auto;
}

.coupon84-terms .inner-wrap {
    height:460px; overflow-y:scroll; text-align:justify; padding:20px;
}

.coupon84-terms .inner-wrap .title {
    display:block; width:150px; margin:0 auto; font-size:18px; font-weight:bold;
}

.coupon84-terms .inner-wrap ol {
    list-style-type: decimal;
    margin-right: 2em;
    width: 600px;
}

.coupon84-terms .inner-wrap .marker {
    background:yellow; display:inline;
}

.coupon84-terms .inner-wrap .email-address {
    font-weight:bold;
    text-decoration: underline;
    color:rgb(54,78,119);
}